/*****global*****/
html{
        background-color: #ffb3cb;
        font-family: 'Alata', sans-serif;
        font-family: 'Borel', cursive;
        font-family: 'Montserrat', sans-serif;
        font-weight:bold;
        
}
/*****background*****/

.background {
        height: 100vh;
        width: 100vw;
}

/*****header*****/
header{
        display: flex;
        justify-content: space-between;
        background-color:#ffb3cb;
        padding: 5vh 100px;
        align-items: center;
        
}

.links{
        display: flex;
        gap: 10px;
}

.links a{
        text-decoration: none;
        color:black;
        transition: 0.3s;
}
.links a:visited{
        color: black;
}
.links a:hover{
        color: white;
}

.título{
        font-size: 2rem;
        display: flex;
}

.título a{
        text-decoration: none;
        color:black;
        transition: 0.3s;
}
.título a:visited{
        color: black;
}
.título a:hover{
        color: white;
}
    
    
/*****main*****/
.main-background {
        overflow: hidden;
        background-color:#ffce96;
        
        
        
}

.text{
        width: 40%;
        font-size:1.2rem;
        
        
}
.title{
       font-size: 1.5rem;
}

.about{
        background-color:#74569b;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
        
}

.imagem{
        display: flex;
        padding: 1%;
}

.imagem > img{
        border-color: #74569b;
        border-radius: 180px;
        width: 300px;
        height: 300px;
        margin: 1%;
}




.conteiner{
        background-color: #ffb3cb;
        display: flex;
        justify-content: space-between;
        padding-bottom: 4.5%;
        margin:0 100px;
}

.tags{
        background-color: #ffb3cb;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.2%;
}
.top5, .content-hobbies{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
}        

.row{
        display: flex;
}

.box{
        display: flex;
        flex-direction:column;
        padding-top: 2.5%;
        
           
}

.box img{
        width: 105px;
        height: 120px;
        border-radius: 20px;
        padding: 1.2vh;
        background-color:#74569b;

}

.subtitle{
        text-align: center;
        font-size: 1rem;

}
/*****footer*****/
footer{
        background-color: #74569b;
        height: Hug (70px);
        top: 731px;
        padding: 16px 32px 16px 32px;
        display: flex;
        justify-content:center;
}
.a-footer{
        font-size: 1.2rem;
        margin-right: 1%;
        padding: 1.5%;
}

